.main_container {
  height: auto;
  width: auto;
  padding: 3px;
  margin: 2px;
  background-color: white;
  align-content: center;
}
.container_inner {
  height: auto;
  border: none;
  background-color: white
  ;
  vertical-align: center;
  padding-top: 100px;
  padding-left: 10px;
  align-content: center;
}
 .num_tiles {
  width:30px;
  height: 30px;
  background-color: white ;
  color: #888888;
  font-size: 200px;
  text-align: center;
  line-height: 20px;
  padding: 3px;
  margin: 1.5px;
  font-family:'Helvetica Neue', serif;
  font-weight: bold;
  vertical-align: center;
}
